body{
    color: white;
    background-image: url("./HD-wallpaper-dodge-charger-car-charger-cool-dodge-muscle-new-speed-vehicle.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-weight: normal;        
}